useDynLib(knor, .registration = TRUE)

import(Rcpp)
export(Kmeans)
export(Kmedoids)
export(Skmeans)
export(KmeansPP)
export(Hmeans)
export(Xmeans)
export(Gmeans)
export(MiniBatchKmeans)
export(FuzzyCMeans)
